
body{
  
    width: 1024px;
    margin: auto;
    
}

#conteneur{
    display: flex;
    border: 1px rgb(214, 214, 214) solid;
    padding: 2px;
    
    
}



.element:nth-child(1)
{
    
    width: 30%;
}
.element:nth-child(2)
{
   
    width: 80%;
    border: 1px rgb(214, 214, 214) solid;
    padding: 3px;
}





#foto{
    
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


#logo{
    
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#bienvenido{
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}